* {
    font-family: "Roboto", sans-serif; /*Шрифт*/
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #eef2fd;
    text-color: #000000;
    transition: 0.5s all;
}
.topnav {
    background-color: #ffffff;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 2vh 3vw;
    text-decoration: none;
    font-size: calc( (100vw - 30rem)/60 + 1rem);
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    transition: 0.5s all;
}

.topnav a.active {
    background-color: #ff4f00;
    color: white;
}
